@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
    width: 100%;
    height: 100%;
    margin: 80px 0 0 0;
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
    background-color: #fff;
    color: #333;
}

.container-breed {
    padding: 0 50px;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
}

a {
    color: #4aa3df;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #2980b9;
}

.intro {
    display: table;
    margin: -70px 0 0 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro {
    padding: 0;
}

.intro-body {
    display: table-cell;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

section#about {
    width: 100%;
    height: auto;
    min-height: 50%;
    color: #fff;
    background-color: #4aa3df;
}

section#howitworks {
    width: 100%;
    min-height: 100%;
    height: auto;
    color: #333;
    background-image: url(../images/homepage/bg.png);
    -webkit-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.75);
}

.stapicoon {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.stapicoon img {
    width: 100%;
    height: auto;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

.btn {
    border-radius: 3;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}


/*         Eigen CSS        */

.stappen {
    padding: 10px;
    border: 3px solid #4AA3E1;
    background: transparent;
    background: #fff;
}

.stappen6 {
    padding: 10px;
    border: 3px solid #4AA3E1;
    background: transparent;
    background: #fff;
}

.stapuitleg {
    width: 35px;
    height: 35px;
    background-color: #2980b9;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.lijn {
    height: 1px;
    background: #ccc;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.btn-primary {
    background: #4aa3df;
    border: 0;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background: #4aa3df;
}

.taal-titel {
    padding: 0 0 0 10px;
}

.taal-vlag {
    max-width: 20px;
    margin: -3px 0 0 0;
}

.taal-vlag-profiel {
    max-width: 20px;
    margin: 3px 5px 0 0;
}

ol.breadcrumb {
    margin: 0;
    padding: 20px 0 0 0;
    background: none;
}

div.taal-houder {
    margin: 20px 0;
}

div.taal {
    margin: 8px 0 0 0;
}

h2.titel {
    margin: 0;
    padding: 10px;
}

.pad0 {
    padding: 0;
}

.topbottom20 {
    margin: 20px 0;
}

.top20 {
    margin-top: 20px;
}

.bottom20 {
    margin-bottom: 20px;
}

.stap-actief {
    background-color: #4aa3df;
}

.center {
    text-align: center;
    margin: 10px 0;
}

textarea {
    resize: none;
    width: 100%;
    font-weight: 400;
}

.vragen {
    position: relative;
    padding: 30px;
    background: rgba(255, 165, 0, 1);
    height: auto;
    border-radius: 3px;
    border-bottom: 2px solid #e67e22;
    z-index: 3;
}

.volgende {
    width: 100%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #2980b9;
    color: #fff;
    border: none;
}
.volgende:hover, .volgende:focus {
    background: #4aa3df;
    color: #fff;
}
.marto20 {
    margin-top: 20px;
}

.invullen {
    margin: 0;
    padding: 10px;
}


/*      CSS voor alle pagina's!     */

.navbar {
    padding: 15px 0;
    height: auto;
    background-color: #4aa3df;
    border: 0;
}

h1,
h2,
h3 {
    font-weight: 600;
}

#navbar-main > ul > li > a {
    color: #fff;
}

#navbar-main > ul > li.active a {
    background: #2980b9;
}

.navbar-brand {
    padding: 0;
    margin: 0 20px 0 0;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

.blauw {
    height: 40%;
    width: 100%;
    background: #4aa3df;
    position: relative;
    text-align: center;
    top: 0;
}

#pijltje {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #4aa3df;
    position: relative;
    z-index: 3;
}

.intro .intro-body .brand-heading {
    font-size: 65px;
    color: #fff;
}

.fa-search:before {
    content: "\f002";
    color: #666;
    font-size: 6em;
}

#maps {
    background: url(../images/homepage/maps-amsterdam-bg-guidefinder.jpg) no-repeat;
    background-size: 100%;
    margin: -25px 0 0 0;
    width: 100%;
    min-height: 60%;
    height: auto;
    position: absolute;
    z-index: 0;
}

#vragenbox {
    margin: -25px 0 0 0;
    background: none;
    width: 100%;
    min-height: 60%;
    height: auto;
    z-index: 1;
}

.zoeken {}

#vind {
    color: #666;
    text-transform: none;
    margin: 20px 0;
}

h2.vindbox {
    width: auto;
    padding: 20px 10px;
    background: orange;
    margin-top: -50px;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.3);
}

button#here {
    background-color: #f39c12;
    border: none;
    padding: 10px 25px;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 3px;
    border-bottom: 2px solid #e67e22;
    color: #fff;
}

button#here:hover {
    background-color: #f3af12;
    transition: all ease-in-out 100ms;
}

#page-top > header > div > div.maps > div > div > div > a {
    color: #fff;
}

span.nummer {
    padding: 5px 12px;
    background: #666;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    border-radius: 3px;
    float: left;
}

h4.titel {
    padding: 10px 0 0 0;
}


/*                            Reviews                                 */

section#home-reviews {
    width: 100%;
    height: auto;
    min-height: 50%;
    color: #333;
    background-image: url(../images/homepage/bg.png);
}

.talkcloud {
    position: relative;
    min-width: 245px;
    width: auto;
    min-height: 115px;
    width: auto;
    margin: 10px;
    padding: 15px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #4aa3df solid 3px;
}

.talkcloud:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    bottom: -15px;
    left: 75%;
}

.talkcloud:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 17px 17px 0;
    border-color: #4aa3df transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -17px;
    bottom: -20px;
    left: 75%;
}


/*                            Footer                                 */

.footer-distributed {
    background-color: #333;
    border-top: 2px solid #333;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 55px 50px;
    margin-top: 50px;
    position: relative;
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}


/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}

@media (min-width: 768px) {
    .stappen:after,
    .stappen:before {
        left: 95.8%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .stappen:after {
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #4AA3E1;
        border-width: 18px;
        margin-top: -18px;
    }
    .stappen:before {
        border-color: rgba(74, 163, 225, 0);
        border-left-color: #4AA3E1;
        border-width: 20px;
        margin-top: -20px;
    }
}

@media (max-width: 768px) {
    .container-breed {
        padding: 0 25px;
    }
}
